a{
color: aliceblue;
    background: rgba(0, 118, 255, 0.53);
    font-size: 42px;
    text-decoration: none;
    border-radius: 15px;
    
}
body{
    text-align: center;
    
}
h1{
   
}
a:hover{
    background-color: aliceblue;
    color: rgba(0, 118, 255, 0.53);
}
a:active{
    background-color: blue;
    color: white;
}